.navigation{
    display: flex;
    justify-content: center;
}

.navigation .inside-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.navigation h2{
    color: #444;   
}

.nav-itens{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.nav-itens a{
    text-decoration: none;
    color: #444;
    margin: 10px 10px;
    border-bottom: 2px solid #00dac1;
}

.nav-itens a:hover{
    border-bottom: 2px solid #04ffe2;
}

@media (max-width: 500px){
    .nav-itens{flex-wrap: wrap; justify-content: space-around;}
}